

@{
    ViewData["Title"] = "Home Page";
}
<style>

    a {
        text-decoration: none;
    }

        a:hover {
            color: lightblue;
            text-decoration:none;
        }

    .oglasi {
        vertical-align: top;
        width: 300px;
        display: inline-block;
        padding-right: 20px;
        padding-left: 10px;
    }

    .kategorija-kraci-prikaz {
        padding-bottom: 20px;
    }

    .kategorija-naslov {
        border-bottom: 1px solid black;
    }

    .oglas-link {
        font-size: 12px;
    }

    .oglas-cena-mesto {
        font-size: 12px;
    }

    .oglas-podaci {
        padding-top: 5px;
    }

    
</style>

<div class="content">
    <div class="meni">
        <div class="meni-naslov">
            <span><b>KATEGORIJE OGLASA</b></span>
        </div>
        @foreach (var item in ViewBag.Kategorije as IEnumerable<Kategorije>)
        {
            <div class="kategorije">
                <div class="kategorija-link">
                    @Html.ActionLink(item.NazivKategorije, "Kategorija", "Oglasi", new {id = item.Id }, new { @class = "visited" })
                </div>

            </div>
        }
    </div>

    <div class="oglasi">
        @for (int i = 0; i < (ViewBag.Kategorije as IEnumerable<Kategorije>).Count()/2; i++)
        {
            var model = ViewBag.Kategorije as Kategorije[];
            var brOglasa = 0;
            var brPotkategorija = model[i].Potkategorije.Count();
            foreach (var item in model[i].Potkategorije)
            {
                brOglasa += item.OglasiPotkagorije.Count();

            }

            <div class="kategorija-kraci-prikaz">
                <div class="kategorija-naslov">
                    @Html.ActionLink(model[i].NazivKategorije, "Index", new { controller = "Home", style = "float:left" })
                    <span style="float:right">@brOglasa</span>
                </div>
                <div class="oglas-podaci">
                    @foreach (var item in model[i].Potkategorije)
                    {
                        @foreach (var oglas in item.OglasiPotkagorije.OrderByDescending(x=>x.Oglas.DatumObjave).Take(3))
                        {
                            <div class="oglas-link">
                                @Html.ActionLink(oglas.Oglas.Naslov, "Index", "Home")
                            </div>
                            <div class="oglas-cena-mesto">
                                <span>Cena: @oglas.Oglas.Cena dinara>@oglas.Oglas.Grad.ImeGrada</span>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>


    <div class="oglasi">
     
        @for (int i = (ViewBag.Kategorije as IEnumerable<Kategorije>).Count() / 2; i < (ViewBag.Kategorije as IEnumerable<Kategorije>).Count(); i++)
        {
            var model = ViewBag.Kategorije as Kategorije[];
            var brOglasa = 0;
                 foreach (var item in model[i].Potkategorije)
                 {
                     brOglasa += item.OglasiPotkagorije.Count();
                 }
            var brPotkategorija = model[i].Potkategorije.Count();
            <div class="kategorija-kraci-prikaz">
                <div class="kategorija-naslov">
                    @Html.ActionLink(model[i].NazivKategorije, "Index", new { controller = "Home", style = "float:left" })
                    <span style="float:right">@brOglasa</span>
                </div>
                <div class="oglas-podaci">
                    @foreach (var item in model[i].Potkategorije)
                    {
                        @foreach (var oglas in item.OglasiPotkagorije.OrderByDescending(x=>x.Oglas.DatumObjave).Take(3))
                        {
                            <div class="oglas-link">
                                @Html.ActionLink(oglas.Oglas.Naslov, "Index", "Home")
                            </div>
                            <div class="oglas-cena-mesto">
                                <span>Cena: @oglas.Oglas.Cena dinara> @oglas.Oglas.Grad.ImeGrada</span>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>

</div>
